@model StructureProject.ViewModels.PetFormViewModel

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Pet", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Please fix the following Errors!!")
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' name="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url('/Content/Images/UserPhotos/@Model.Pet.Avatar');">
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(v => v.Pet.Name)
        @Html.TextBoxFor(v => v.Pet.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.Pet.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(v => v.Pet.Kind)
        @Html.TextBoxFor(v => v.Pet.Kind, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.Pet.Kind)
    </div>

    <div class="form-group">
        @Html.LabelFor(v => v.Pet.Age)
        @Html.TextBoxFor(v => v.Pet.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.Pet.Age)

    </div>

    @Html.HiddenFor(v => v.Pet.Id)

    <button type="submit" class="btn btn-secondary">Save</button>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
            function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
    </script>
}
