@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumboindex">
    <h1>PetAir</h1>
    <p class="lead">Petair is an online pet hosting service for our friends.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

    <style>
        body {
            background-image: url("/Content/Images/Images/group-of-dogs-at-dog-park.jpg");
        }

        .hrindex {
            margin-top: 222px;
        }
        .jumboindex {
            background-color: #fff7fb;
            margin-top: 50px;
            width: 75%;
            margin-left: 149px;
        }
    </style>
    @section Scripts {

        <script>
    $(function () {
        if ('@TempData["Registration"]' == "Added") {
            toastr.success('Registration Successful!!');
            TempData.Remove("Registration");
        }
        if ('@TempData["UpdatePerson"]' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("UpdatePerson");
        }
        if ('@TempData["UpdateHost"]' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("UpdateHost");
        }
        if ('@TempData["Contact"]' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("Contact");
        }
         if ('@TempData["Login"]' == "Logged") {
             toastr.success('Login Successful!!')
             TempData.Remove("Login");
        }
        if ('@TempData["UpdateHost"]' == "Updated") {
             toastr.success('Update Successful!!');
             TempData.Remove("UpdateHost");
        }
        if ('@TempData["Message"]' == "Send") {
             toastr.success('Message Sent!!');
             TempData.Remove("Message");
        }
       if ('@TempData["Reservation"]' == "Made") {
             toastr.success('Reservation Made!!!!');
             TempData.Remove("Reservation");
        }

    });
        </script>
    }
