@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Custom/IndexCSS")

@if (Request.IsAuthenticated)
{
    <div class="jumbotron jumboindex">
        <h1>PetAir</h1>
        <p class="lead">Now, you are logged in, you can add pets, make a new reservation,host a pet.</p>

        @*<p> @Html.ActionLink("Make one", "Make", "Reservation", null, new { @class = "btn btn-primary btn-lg" })</p>*@

    </div>

}
else
{
    <div class="jumbotron jumboindex">
        <h1>PetAir</h1>
        <p class="lead">Petair is an online pet hosting service for our friends.</p>
        <p>@Html.ActionLink("Join Us ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })

    </div>
}



@section Scripts {

    <script>
    $(function () {
        if ('@TempData["Registration"]' == "Added") {
            toastr.success('Registration Successful!!');
            TempData.Remove("Registration");
        }
        if ('@TempData["UpdatePerson"]' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("UpdatePerson");
        }
        if ('@TempData["UpdateHost"]' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("UpdateHost");
        }
        if ('@TempData["Contact"]' == "Added") {
            toastr.success('Update Successful!!')
            TempData.Remove("Contact");
        }
        if ('@TempData["UpdateHost"]' == "Updated") {
             toastr.success('Update Successful!!');
             TempData.Remove("UpdateHost");
        }
        if ('@TempData["Message"]' == "Send") {
             toastr.success('Message Sent!!');
             TempData.Remove("Message");
        }


    });
    </script>
}
