@model IEnumerable<StructureProject.Models.Mail>
@{
    ViewBag.Title = "ViewMail";
}

<h2>Mails</h2>
@*@if (!Model.Any())
    {
        <p>We don't have any viewers yet.</p>
    }
    else
    {*@
<table id="mails" class="table table-bordered">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Message</th>
    <th></th>

    </thead>
    <tbody>
        @foreach (var mail in Model)
        {
            <tr>
                <td>
                    @mail.Name
                </td>
                <td>
                    @mail.EmailAddress
                </td>
                <td>
                    @mail.Subject
                </td>
                <td>
                    @mail.Message
                </td>

                <td>
                    @Html.ActionLink("Delete", "DeleteMail", "Admin", new { id = mail.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#mails").dataTable({
                
                'columnDefs': [{
                    'targets': [3,4], // column index (start from 0)
                    'orderable': false, // set orderable false for selected columns
                }]


            })
        })
    </script>
 
}




