@model StructureProject.ViewModels.PersonDetailsViewModel
@{
    ViewBag.Title = "Details";
}


<h3>@Model.Owner.Name @Model.Owner.LastName</h3>

<img class="img-circle md-avatar rounded-circle size-4" src="~/Content/Images/UserPhotos/@Model.Owner.Avatar" alt="profile">

@if (!@String.IsNullOrEmpty(Model.Owner.Description))
{
    <h3>Bio</h3>

    <center>
        @Html.TextAreaFor(model => model.Owner.Description, new { disabled = "true", @class = "form-control", @cols = "100", @rows = "8", @style = "resize: none; max-width:7000px;" })
    </center>
}



<br />
<h3>You Have @Model.Pets.Count Pets</h3>

<br />
@if (@Model.Pets.Count > 0)
{
    <table id="pets" class="table table-bordered">
        <thead>
        <th>Name</th>
        <th>Kind</th>
        <th>Age</th>
        </thead>
        <tbody>
            @foreach (var pet in Model.Pets)
            {
                <tr>
                    <td>
                        @pet.Name
                    </td>
                    <td>
                        @pet.Kind
                    </td>
                    <td>
                        @pet.Age
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (!@String.IsNullOrEmpty(Model.Contact.City))
{
    <h3>Contact Details</h3>
    <br />
    <ul>
        <li>
            Phone Number : @Model.Contact.PhoneNumber
        </li>
        <li>
            Telephone Number : @Model.Contact.TelNumber
        </li>
        <li>
            Country : @Model.Contact.Country
        </li>
        <li>
            State : @Model.Contact.State
        </li>
        <li>
            City : @Model.Contact.City
        </li>
        <li>
            Address : @Model.Contact.Address
        </li>
        <li>
            Postal Code : @Model.Contact.PostalCode
        </li>
    </ul>
}
@if (!@String.IsNullOrEmpty(Model.HostInfo.StartDateTime.ToString()))
{
    <h3>Dates Available</h3>

    <ul>
        <li>
            Start Date: @Model.HostInfo.StartDateTime.ToString("dd/MM/yyyy")
        </li>
        <li>
            End Date: @Model.HostInfo.EndDateTime.ToString("dd/MM/yyyy")
        </li>
    </ul>
}
else
{
    <h3>No Dates Available</h3>
}


