@model StructureProject.ViewModels.ReservationsShowViewModel
@using StructureProject.Models;


<h2>My Pets</h2>
@*@if (!Model.Any())
    {
        <p>We don't have any viewers yet.</p>
    }
    else
    {*@
<p>
    @Html.ActionLink("Make A New Reservation", "Make", "Reservation", null, new { @class = "btn btn-primary" })
</p>
@if (Model.MyReservations.Any())
{<h3>List of Reservations made by You</h3>

 <table id="reservationsbyme" class="table table-bordered">
     <thead>
     <th>Host Name</th>
     <th>Pet Name</th>
     <th>Pet Kind</th>
     <th>Date</th>
     <th>Accepted</th>

     </thead>
     <tbody>
         @foreach (var reservation in Model.MyReservations)
         {
             <tr>
                 <td>
                     @reservation.Host.FullName
                 </td>
                 <td>
                     @if (!String.IsNullOrEmpty(@reservation.Pet.Name))
                     {
                         @reservation.Pet.Name
                     }
                     else
                     {
                         <text>N/A</text>
                     }
                 </td>
                 <td>
                     @if (!String.IsNullOrEmpty(@reservation.Pet.Kind.Name))
                     {
                         @reservation.Pet.Kind.Name
                     }
                     else
                     {
                         <text>N/A</text>
                     }
                 </td>
                 <td>
                     @reservation.Date.ToString("dd/MM/yyyy")
                 </td>
                 <td>
                     @Enum.GetName(typeof(Acceptance), reservation.Accept)


                 </td>
             </tr>
         }
     </tbody>
 </table>
}
else
{
    <h3>No haven't made any reservation</h3>
}


<br />
<br />
@if (Model.ReservationsWithHostMe.Any())
{
    <h3>List of Reservations made to You</h3>
    <table id="reservations" class="table table-bordered">
        <thead>
        <th>Customer Name</th>
        <th>Pet Name</th>
        <th>Pet Kind</th>
        <th>Date</th>
        <th>Accepted</th>


        </thead>
        <tbody>
            @foreach (var reservation in Model.ReservationsWithHostMe)
            {
                <tr>
                    <td>
                        @reservation.Host.FullName
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(@reservation.Pet.Name))
                        {
                            @reservation.Pet.Name
                        }
                        else
                        {
                            <text>N/A</text>
                        }
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(@reservation.Pet.Kind.Name))
                        {
                            @reservation.Pet.Kind.Name
                        }
                        else
                        {
                            <text>N/A</text>
                        }
                    </td>
                    <td>
                        @reservation.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @if (reservation.Accept == 0)
                        {
                            <button id="Btn-Accept-@reservation.Id" data-host-id="@reservation.Host.Id"  data-pet-id="@reservation.Pet.Id" data-customer-id="@reservation.Customer.Id" data-reservation-id="@reservation.Id" class="btn btn-default btn-sm js-toggle-accept">Accept</button>
                            <button id="Btn-Reject-@reservation.Id" data-host-id="@reservation.Host.Id"  data-pet-id="@reservation.Pet.Id"  data-customer-id="@reservation.Customer.Id" data-reservation-id="@reservation.Id" class="btn btn-default btn-sm js-toggle-reject">Reject</button>
                        }
                        else
                        {
                            @Enum.GetName(typeof(Acceptance), reservation.Accept)
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No one has made a reservation with You</h3>
}

@*}*@
@section scripts
{

    <script>
        var table = $("#reservationsbyme").DataTable();
        var table = $("#reservations").DataTable();
        //Should get id from customer with ajax

        $(document).ready(function () {
            $(".js-toggle-accept").click(function (e) {
                var button = $(e.target);
                $.post("/api/reservations", { Id: button.attr("data-reservation-id"), Accept: "Accepted", HostId: button.attr("data-host-id"), PetId: button.attr("data-pet-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Accepted")
                            .prop('disabled', true);
                        document.getElementById("Btn-Reject-"+button.attr("data-reservation-id")).remove();
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });

         $(document).ready(function () {
            $(".js-toggle-reject").click(function (e) {
                var button = $(e.target);
                $.post("/api/reservations", { Id: button.attr("data-reservation-id"), Accept: "Accepted", HostId: button.attr("data-host-id"), PetId: button.attr("data-pet-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Rejected")
                            .prop('disabled', true);
                      document.getElementById("Btn-Accept-"+button.attr("data-reservation-id")).remove();

                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });

    </script>
}


